.ok{
    margin-top: 10px;
}
.nav-link{
    background-color: #2196F3 !important;
    border-radius: 10px;
    margin-right: 5px;
    width: 115px;
    text-align: center;
    margin-top: 3px;
}
h5{
    text-align: justify;
/* font-size: large; */
}
h1,h2{
    text-align: center;
    color: navy;
}
.contcent{
 justify-content: center;
 text-align: center;
 align-items: center;
}

.cent{
    text-align: center;
}
.lgblue{
    color:rgb(8, 221, 236) !important;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logo1{
   
    /* width: 300px; */
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 1px 1px 5px rgb(104, 101, 101);
    max-width: 300px;
    min-width: 300px;
    margin-top: 19px;
    
    
}
.text1{
    /* max-width: 600px; */
    justify-content: center;
    text-align: center;
    align-items: center;
    

}
.why{
    margin-top: 15px;
    color: #00a2ff;
    font-size: large;
}
.manjan{
    margin-top: 15px;
    /* color: rgb(0, 174, 255); */
    /* justify-content: center; */
    text-align: justify;
    /* text-align: left; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.text2{
    text-align: justify;
}